@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	font-family: "Montserrat", sans-serif;
}

body {
	overscroll-behavior-y: none;
	background-image: linear-gradient(
		90deg,
		var(--primary) 0%,
		#161b2a 50%,
		var(--primary) 100%
	);
	color: white;
}

a,
link {
	text-decoration: none;
	color: var(--tertiary);
}

:root {
	--primary: #00091b;
	--secondary: #ee2e3b;
	--tertiary: #edf2f5;
	--quaternary: #8d99af;
	--quinary: #d82926;

	--grayDark: #0a111e;

	--primary-t: #00091bcc;
	--secondary-t: #ee2e3b56;
	--quaternary-t: #8d99af14;

	--disabled: #7c8390;
}
